* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

#flipbook {
    position: absolute;
    margin-top: 3%;
    left: 20vw;    
    font-family: 'Poppins', sans-serif;
    color: white;
    
}


.page {
    background-color: #3EB0E7;
    color: whitesmoke;
    
}


.coverpage {
    background-color: red;
    background-image: url("/uploads/users/recipeBookCover.jpg");
    background-size: contain;

}

.recipeName {
    font-weight: bolder;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-left: 2%;
    
}

.rating {
    position: absolute;
    top: 70%;
    left: 55%;
}

.rating img {
    width: 7%;
}

.number {
    color: grey;
    font-size: 10px;
}

.authorProfile {
    margin-top: 10%;
    width: 15%;
    vertical-align: middle;
    border-radius: 30px;
    margin-left: 30%;
    border: 2px dashed black;
}

.authorProfileName {
    text-align: right;
    margin-right: 15%;
    margin-top: -2%;
}

#reviewButton {
    border: 0;
    padding: 0;
    background: none;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    
}

.heart {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

.pageHeading {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}


table {
    margin-top: 5%;
    margin-left: 5%;
    border-collapse: collapse;
    
}

thead {
    display: block;
}

tbody {
    display: block;
    height: 50vh;
    
    overflow-y: auto;
}

th, td {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-top: 10px;
}

.recipeImage {
    width: 60%;
    margin-top: 10%;
    margin-left: 20%;
    border-radius: 20px;
    border: 2px solid black;

}

.directions-list {
    margin-top: 5%;
    margin-left: 10%;
    height: 60vh;
    overflow-y: auto;
    list-style-position: inside;
}


.lastpage {
    text-align: center;
}

.message {
    margin-top: 15%;
}

.note {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
}

.backcover {
    
}