* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.page {
    width: 100%;
    height: 90vh;
    margin-top: 10px;

}

#page1 {
    margin-top: 0px;
    background-image: url("/uploads/page1Background.webp");
    background-size: cover;
    background-attachment: fixed;
}

#page1Content {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 20%;
    font-size: 35px;
    color: whitesmoke;
    text-shadow: 20px 20px 20px black;
    
}

#getStartedButton {
    font-family: 'Raleway', sans-serif;
    background-color: #00B9B9;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;
    height: 8vh;
    padding: 10px;
    border-radius: 5%;
    box-shadow: 0px 5px 5px grey;
    border: 2px solid #00B9B9;

}

#readMoreButton {
    font-family: 'Raleway', sans-serif;

    color: black;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;
    height: 4vh;
    box-shadow: 0px 5px 5px grey;

    outline: none;
    background:none;
    border:none;
    margin:0;
    padding:0;
    position: absolute;
    bottom: 35px;
    left: 46.5%;
}

#readMoreButton img {
    mix-blend-mode: multiply;
}

#page2 {
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.info1 {
    color: black;
}

.info1 li {
    font-family: 'Railway', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.info2 {
    position: relative;
}


.info2>img {
    position: absolute;
    left: -50px;
    top: 150px;

}

.recipeCircle {
    position: absolute;
}

.recipeCircle img {
    width: 4vw;
    border-radius: 100%;
    box-shadow: 1px 1px 5px grey;
}

.recipeCircle h5 {
    margin-top: 5px;
    text-align: center;
    margin-left: -50%;
    
}

#searchList>li {
    opacity: 0;
    transform: translateX(-100px);
}



@keyframes move {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(var(--x, 200px)) translateY(var(--y, 200px));
        display: list-item;
    }
}

@keyframes leftSlide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes rightSlide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 1024px) {
    .info1 {
        display: none;
    }
    .recipeCircle {
        position: absolute;
        top: -175px;
        left: 190px;
    }


    .info2>img {
        position: absolute;
        left: 130px;
        top: -40px;

    }

}

#page3 {
    background-color: whitesmoke;
    color: black;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background: linear-gradient(120deg, #8e44ad, #3498db);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;

}

.box:nth-child(1) {
    opacity: 0;
    transform: translateX(-100px);
}

.box:nth-child(2) {
    opacity: 0;
    transform: translateX(100px);
}

footer {
    padding: 50px;
    margin-top: 5px;
    background-color: #30B7D0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

a {
    text-decoration: none;
}

.detail {
    margin-bottom: 25px;
}

footer img {
    margin-right: 5px;
    vertical-align: middle; 
    width: 40px;
    mix-blend-mode: multiply;
  
}
.links {
    margin-top: 10px;
    margin-left: 20%;
    padding: 10px;
}

.links img {
    padding: 5px;
    width: 50px;
    margin-right: 50px;
    background-color: whitesmoke;
    mix-blend-mode: normal;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 4px grey);
}

